p {color:green ; text-align: center;}
#uno { font-size: 700%;}
/* #dos {background-color: blueviolet;} */
.tres {text-shadow: 10cm;}
body {background-color: burlywood;}
#uno {font-weight: 2000;}
form {background-color:green;}